
*.xcbkptlist

*.xcuserstate

*.xcuserstate
Protocol-oriented TableView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Protocol-oriented TableView.xcodeproj/project.xcworkspace/xcuserdata/nikolayaleshchenko.xcuserdatad/UserInterfaceState.xcuserstate
